<div class="container" style="text-align: center; background-color: black;">
    <br><br>
    <h3 style="color: white;">Bienvenido al administrador de productos</h3>
    <img src="assets/administrator.png" alt="administrator" width="30%">
    <br><br>
    <p style="color: #ffffff;"><b>Realizado por:</b></p>
    <p style="color: white;">De la Cruz Martínez Jorge Luis</p>
    <p style="color: white;">González Mendoza Aarón Abdiel</p>
    <h2 style="color: white">Desarrollo de Aplicaciones Web - 4AM1</h2>
    <br><br>
</div>
