<div class="mb-3">
    <div class="container">
        <div class="card border-success mb-3">
            <div class="card-header text-danger">
                <h2 class="text-center">
                    {{titulo}}
                </h2>
            </div>
            <div class="card-body text-primary table-responsive">
                <div class="my-2 text-left">
                    <button class="btn btn-outline-primary" type="button" routerLink="/productos">
                        <i class="fa-solid fa-layer-group"></i> Registrar Producto
                    </button>
                    &nbsp;<button class="btn btn-outline-primary" type="button" (click)="buscar()" >
                        <i class="fa-solid fa-search"></i> Buscar Producto
                    </button>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Clave</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Existencia</th>
                            <th>Precio</th>
                            <th>Categoria</th>
                            <th>Fecha</th>
                            <th>Actualizar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of listaDeProductos">
                            <td>{{producto.idProducto}}</td>
                            <td>{{producto.nombreProducto}}</td>
                            <td>{{producto.descripcionProducto}}</td>
                            <td>{{producto.existencia}}</td>
                            <td>{{producto.precioProducto}}</td>
                            <td>{{producto.idCategoria.idCategoria}}</td>
                            <td>{{producto.fechaCreacion}}</td>
                            <td>
                                <button class="btn btn-outline-success btn-sm" name="actualizar" routerLink = "/productos/{{producto.idProducto}}"><i class="fa-solid fa-file-pen"></i>  Actualizar</button>
                            </td>
                            <td>
                                <button class="btn btn-outline-danger btn-sm" (click)="eliminar(producto)" name="eliminar"><i class="fa-solid fa-trash-can"></i>  Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
